mixin cta(img, overlay,title, text, objectArray)
	section.text-white(data-bg=img data-overlay=overlay data-position="center center" data-size="cover" data-attachment="fixed")
		.container.mx-auto(class="lg:container-xxl")
			.flex.flex-col.text-center.py-10
				h2= title
				.text-sm.mb-3= text
				.btn-group.flex.justify-center
					each item in objectArray
						a.btn.btn-main.hover-white(href=item[1])= item[0]